
.filtrado{
    background-color:rgb(215, 250, 220);
    font-family:'Cormorant Garamond', serif;
    width: 600px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 15px 10px 15px;
    gap:10px;
     overflow: hidden; /* evita desbordes */
}

.filtradoTitulo{
    background-color:rgb(215, 250, 220);
    font-family:'Cormorant Garamond', serif;
    width: 600px;
    max-width: 90%; 
    padding: 10px 15px 10px 15px;
    text-align: center;
}

select{
    font-family: 'Raleway',sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

button{
    font-family: 'Raleway',sans-serif;
}

main{
    display: flex;
    flex-direction: column;  /* pone o acomoda los elementos uno abajo del otro */
    justify-content: center; /* centra vertical */
    align-items: center;     /* centra horizontal */
    min-height: calc(100vh - 80px);
}

@media (max-width:768px) {
    
 .filtrado{
     grid-template-columns: 1fr; /* una sola columna */
    gap:10px;
 }


option{
    font-size: 0.6rem;
}


}
